<!--<app-carousel></app-carousel>-->
<div class="row container-fluid mt-3 ml-1" >
  <div class="col-2 test"></div>
  <div class="card text-center register col-lg-8 " style="background: white !important;">
    <div class=" text-center mt-2">
      <h2>Thay đổi mật khẩu</h2>
    </div>
    <div class="card-body">
      <!-- Login-->
      <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
        <div class="text-left">
          <label>Mật khẩu</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                 placeholder="Password">
        </div>
        <div class="text-left">
          <label>Nhập lại mật khẩu</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="confirmPassword" id="exampleInputConfirmPassword1"
                 placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-success nutPhai mr-2">Xác nhận</button>
      </form>
    </div>
  </div>
</div>
